@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body{
    background: linear-gradient(to right, #0D9190, #03A47C 40%);
    font-family: "Quicksand", sans-serif;
    font-size: 14pt;
}
.navbar{
    background-color: #03A47C;
}
.footer{
    font-size: 14pt;
}
.hr{
    color: black;
}
.img-logo{
    width: 100px;
}
.dropdown-menu{
    background-color: #03A47C;
}
.dropdown-item:hover{
    background-color: #199654;
}
.card{
    background-color: #4B8E74;
}
hr{
    height: 5px;
    background-color: black;
}

.card1:hover{
    box-shadow: 5px 5px #199654;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
 td {
    border: 1px solid #333;
    padding: 10px;
}
th {
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    
}
td {
    height: 60px;
}

.kiemeles{
    border: 2px solid black;
    font-size: large;
}

.foglalt{
    background-color: red;
}

.piros{
    color: red;
    font-weight: bold;
}

.zold{
    color: green;
    font-weight: bold;
}

.container1 {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    width: 320px;
    text-align: center;
}



.input-group {
    position: relative;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

.gomb {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.success {
    margin-top: 15px;
    color: green;
}




